apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s
      evaluation_interval: 5s
      scrape_timeout: 4s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
        scrape_interval: 10s

      - job_name: 'go-microservice'
        static_configs:
          - targets: ['metrics-app:9898']
        scrape_interval: 2s
        metrics_path: '/metrics'
        sample_limit: 10000
        relabel_configs:
          - source_labels: [__address__]
            target_label: instance
            replacement: 'go-microservice-app'